<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3--1Khm2c8bTK4o23M6tHJU3Prmo1ZXM</string>
	<key>GCM_SENDER_ID</key>
	<string>1017922421392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.challengeFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterchallenge-cedd5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchallenge-cedd5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017922421392:ios:3d1a9e1cabc4cc3b7a0e15</string>
</dict>
</plist>